<section class="page-width empty-state section">
  <h1>{{ '404.title' | t }}</h1>
  <p style="margin:0.75rem 0 1.25rem;">{{ '404.subtext' | t }}</p>
  <a class="button" href="{{ routes.root_url }}">{{ '404.button' | t }}</a>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
